.nft__details{
    padding-top: 150px;
}

.single__nft-img{
    border-radius: 8px;
}

.single__nft-seen i{
    color: #fff;
    padding: 5px;
    font-size: 0.8em;
}

.single__nft-seen span{
    color: #fff;
    font-size: 1.1rem;
}

.nft__creator{
    background: linear-gradient(156.67deg, rgba(107, 80, 170, 0.519) 0.07%, rgba(116, 85, 188, 0.519) 99.07%);
    padding: 15px;
    border-radius: 7px;
    width: 50%;
}

.creator__img{
    width: 55px;
    height: 55px;
}

.creator__detail p{
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}

.creator__detail h8{
    color: #fff;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 500;
}