.footer h5{
    font-size: 1.1rem;
    color: white;
}

.footer{
    padding-bottom: 30px;
    background: #000;
}

.list__item{
    background: transparent !important;
    padding-left: 0 !important;
    border: none !important;
}

.list__item a{
    text-decoration: none;
    color: white;
    opacity: 85%;
    font-size: .9rem;
}

.list__item a:hover{
    color: white;
    opacity: 85%;
}

.newsletter{
    width: 100%;
    border-radius: 50px;
    padding: 8px 25px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: 0.8rem;
    background: #211d4d;
}

::placeholder{
    color: white;
    opacity: 85%;
}

.social__links span a{
    text-decoration: none;
    color: white;
    opacity: 85%;
    font-size: 1.2rem;
    font-weight: 400;
    transition: 0.3s;
}

.social__links span a:hover{
    color: rgb(190, 190, 255);
}

.copyright{
    font-size: 0.8rem;
}