@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: auto;
  scroll-behavior: smooth;
}

body{
  /* global 94%+ browsers support */
  /* background:linear-gradient(0deg, rgb(16, 0, 52) 0%, rgb(38, 4, 84) 50%, rgb(41, 2, 107) 100%); */
  background: linear-gradient(163deg, rgba(72,154,180,1) 0%, rgb(0, 0, 57) 35%, rgba(112,0,64,1) 100%);

  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
}

h1,h2{
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}

p{
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  opacity: 85%;
  line-height: 35px;
}

a{
  text-decoration: none;
  color: unset;
}

a:hover{
  color: unset;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

section,footer{
  padding: 60px 0px;
}

